<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container d-flex justify-content-center justify-content-around mt-5">
        <div class="card border-0 col-3">
            <h1 class="mb-4">Book Title: {{  }}</h1>
            <h3 class="mb-4">Favorited By:</h3>
                <div class="mb-3 form-group border border-dark rounded p-4 d-flex flex-column">
                    {% for author in authors %}
                        <a href="/dojo/{{ dojo.id }}">{{ dojo.name }}</a>
                    {% endfor %}
                </div>
        </div>
        <div class="card border-0 col-5">
            <h1 class="mb-4">Add Books's Favorite</h1>
            <form action="" method="post">
                <div class="mb-3 form-group d-flex align-items-center">
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                    <button class="btn btn-primary" value="Create Dojo" >Add</button>
                </div>
            </form>
            <a href="/ninjas">Home</a>
        </div>
    </div>
</body>
</html>